.a {
   height: 200px;
}
.b {
   color: rgb(36, 31, 31);
}
.c {
   height: 600;
}
div {
    text-align: center;
}
.div1 {
    text-align: right;
}
a {
    text-decoration: none;
}
body {
    font: font-style font-weight font-size/line-height font-family;
    font: normal 500 16px/28px 'Microsoft yahei';
 }
 .button {
    background-color: rgb(11, 190, 249);
    font-weight: 400;
 }
.pic {
    text-align: center;
 }

 